@import "tailwindcss";

/* ===================== */
/* CSS Variables */
/* ===================== */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
}



/* ===================== */
/* Global Body Style */
/* ===================== */
body {
  background: var(--background);
  color: var(--foreground);
}

/* ===================== */
/* Custom Animation */
/* ===================== */
/* Floating Animations - Global */
@keyframes float-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float-slow {
  animation: float-up-down 4s ease-in-out infinite;
}

.animate-float-medium {
  animation: float-up-down 3s ease-in-out infinite;
}

.animate-float-fast {
  animation: float-up-down 2.5s ease-in-out infinite;
}


